# DAY 04

In [6]:
def my_add(a, b) :
    x = a + b
    
    return x

In [8]:
y = my_add(10, 20)
print(y)

None

In [26]:
def my_evenodd( x ) :
    if x % 2 == 0 :
        print('짝수')
    else :
        print('홀수')

In [13]:
my_evenodd( 10 )

짝수

In [14]:
my_evenodd( 5 )

홀수

In [23]:
def my_evenodd( x ) :
    if x % 2 == 0 :
        return 'R짝수'
    else :
        return 'R홀수'

In [27]:
y = my_evenodd(10)
print(y)

짝수
None

In [ ]:
def my_evenodd(num) :
    if num % 2 == 0 :
        s = '짝'
    else :
        s = '홀'
        
    return s

In [32]:
def my_addsub(a, b) :
    add = a + b
    sub = a - b

    return add, sub

In [34]:
y = my_addsub(10, 5)
print(type(y), y[0], y[1])

<class 'tuple'> 15 5

In [38]:
def area(r) :
    x = 3.14 * r**2
    
    return x

In [53]:
y = area( int(input("반지름을 입력하세요")))
print(y)
print(type(y))

반지름을 입력하세요 10

314.0
<class 'float'>

In [64]:
def my_family( *name ):
    for x in name :
        print(x)

In [70]:
my_family('k', 'a', 'b')

k
a
b

In [85]:
def my_family(**name):
    print(name['fname'], name['aname'])

In [86]:
my_family(fname ='hyunsu', aname = 'kang')

hyunsu kang

In [123]:
def my_number(*num):
    x = 0
    for i in num :
        x = x + i
        print(x)

In [124]:
my_number(1, 2, 3)
print(type(x))

1
3
6
<class 'int'>

In [125]:
def my_country(country = "korea"):
    print(country)

In [128]:
my_country()
my_country("USA")
my_country("UK")
my_country()

korea
USA
UK
korea

In [133]:
def my_country(state, country = "korea"):
    print(state, country)

In [138]:
my_country( 'Incheon in' )
my_country( 'Deagu in' )
my_country( 'Seoul in' )

Incheon in korea
Deagu in korea
Seoul in korea

In [29]:
def my_count(num):
    x = 0
    
    for n in num :
        x = x + n
    return x

In [56]:
num = int(input("횟수를 입력하세요"))

list=[]

for x in range(num) :        # 입력한 수만큼 반복
    y = int(input( "숫자를 입력하세요" ))        #합하고 싶은 숫자를 입력
    list.append(y)

#print(list)

z = my_count(list)

print(z)

횟수를 입력하세요 3
숫자를 입력하세요 10
숫자를 입력하세요 20
숫자를 입력하세요 30

60

In [99]:
def my_count(num) :
    list = []
    
    for x in range(num):
        y = int(input('숫자를 입력하세요'))
        list.append(y)
        
    return list

In [100]:
def my_sum(num) :
    
    i = 0
    
    for n in num :
        i = i + n
        
    return i

In [101]:
num = int(input('횟수를 입력하세요'))

mylist = my_count(num)

o = my_sum(mylist)

print(o)

횟수를 입력하세요 3
숫자를 입력하세요 1
숫자를 입력하세요 2
숫자를 입력하세요 6

9