In [25]:
class Car() :
    id = '0422'
    name = 'khs'
    speed = 100

In [26]:
c1 = Car() # 객체 생성
c2 = Car()

c1.id = '4893'
c2.name = 'bmw'
c2.speed = 80

print(c1.id, c1.name, c1.speed)
print(c2.id, c2.name, c2.speed)

4893 khs 100
0422 bmw 80

In [49]:
class Person() :
    name = 'khs'
    age = 25

In [20]:
p1 = Person()

print(p1.name, p1.age)

khs 25

In [28]:
class Car() :

    def __init__ (self, id, name) :        #생성자
        self.id = id
        self.name = name

In [30]:
c1 = Car('0422', 'khs')
c2 = Car('4893', 'kwj')

print(c1.id, c1.name)
print(c2.id, c2.name)

0422 khs
4893 kwj

In [34]:
class Car() :

    def __init__ (self, id, name) :        #생성자
        self.id = id
        self.name = name
        
    def my_print(self) :
        print(self.id, self.name)

In [39]:
c1 = Car('0422', 'khs')
c2 = Car('4893', 'kwj')

c1.my_print()
c2.my_print()
print(type(c1))

0422 khs
4893 kwj
<class '__main__.Car'>

In [54]:
class Person () :
    
    def __init__(self, age, name) :
        self.age = age
        self.name = name
        
    def my_person(self) :
        print(self.age, self.name)

In [55]:
p1 = Person(25, 'khs')
p2 = Person(26, 'khs')

p1.my_person()
p2.my_person()

25 khs
26 khs

In [68]:
class Car() :

    def __init__ (self, id, name) :        #생성자
        self.id = id
        self.name = name
        
    def my_print(self) :
        print(self.id, self.name)
        
    def get_id(self) :
        return self.id
    
    def get_name(self) :
        return self.name

In [85]:
c1 = Car('0422', 'khs')
c2 = Car('4893', 'kwj')

a = c1.get_id()
b = c1.get_name()

cars = [c1, c2]

c = cars[0].get_id()

for c in cars :
    x = c.get_id()
    
    print(x)

0422
4893

In [2]:
class Student() :
    
    def __init__(self, name, kor, eng, math):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
        
    def get_name(self) :
        return self.name
    
    def get_kor(self) :
        return self.kor
    
    def get_eng(self) :
        return self.eng
    
    def get_math(self) :
        return self.math  
    
    def get_sum(self) :
        x = self.kor + self.eng + self.math
        
        return x

In [3]:
s1 = Student('kang', 70, 85, 60)
s2 = Student('kim', 60, 80, 70)
s3 = Student('jun', 80, 70, 60)
s4 = Student('hun', 65, 75, 68)
s5 = Student('park', 77, 88, 50)

 
a = s1.get_sum()
b = s2.get_sum()
c = s3.get_sum()
d = s4.get_sum()
e = s5.get_sum()

#score = [s1, s2, s3, s4, s5]

print(a, b, c, d, e)

215 210 210 208 215

In [ ]:
name_1 = s1.get_name()
name_2 = s2.get_name()
name_3 = s3.get_name()
name_4 = s4.get_name()
name_5 = s5.get_name()