# DAY 02

## 변수연습
### 1. print , type

In [3]:
a = '5'
b = '7'

print(a + b)
print(type(a + b))

57
<class 'str'>

### 2. intput / int / float / boolean

In [24]:
a = input('')
b = input('')

print(a,b)
print(type(a))

x = int(a)
y = int(b)

print(type(x))
print(type(y))

print(x + y)

 10
 100

10 100
<class 'str'>
<class 'int'>
<class 'int'>
110

In [50]:
a = input('국어점수')
b = input('수학점수')
c = input('영어점수')

x = int(a)
y = int(b)
z = int(c)

o = x + y + z
u = o / 3

print(x + y + z)
print(o)
print(type(o))

print('내 점수의 총점은 %d 평균은 %.2f 입니다.' % (o, u))

국어점수 57
수학점수 68
영어점수 95

220
220
<class 'int'>
내 점수의 총점은 220 평균은 73.33 입니다.

In [37]:
name = input('이름을 입력하시오')

print('내이름은' + name + '입니다')

이름을 입력하시오 강현수

내이름은강현수입니다

In [82]:
name = input('이름')
a = int(input('국어'))
b = int(input('수학'))
c = int(input('영어'))

total = a + b + c
avg = x / 3

print(' 이름\t 국어\t 수학\t 영어\t 총점\t 평균')
print('_' * 46)
print( '%s\t %d\t %d\t %d\t %d\t %.2f' %(name, a, b, c, total, avg))

이름 강현수
국어 87
수학 67
영어 76

 이름	 국어	 수학	 영어	 총점	 평균
______________________________________________
강현수	 87	 67	 76	 230	 79.67

In [94]:
data = 7
score = 62

a = data > score
b = score % data  # 나눈값의 나머지
c = score / data  # /은 나눈값 실수
d = score // data # //은 나눈값정수
e = data ** 2     # ** 은 제곱수

print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(d)
print(e)

False
<class 'bool'>
6
<class 'int'>
8.857142857142858
8
49

In [98]:
score = 110

print( score >= 0 and score <= 100 )   # and는 양쪽 둘다 참인경우
print( score >= 0 or score <= 100)     # or은 한쪽이라도 참인경우

False
True

In [99]:
data = int(input(' '))
score = int(input(' '))

print( data > score)
print( data < score)
print( data >= score)
print( data <= score)
print( data == score) # 같으면 True
print( data != score) # 다르면 True

  50
  100

False
True
False
True
False
True

In [108]:
a = 0
b = bool(a)

print(b)

False

### 3. if / else

In [124]:
age =int(input('나이를 입력하시오.'))

if( age >= 20 ) :
    print("성인입니다.")
    print("당신은 %d살 입니다." % age)
    
if( age < 20 ) :
    print( "성인이 아닙니다.")
    print( "당신은 %d살 입니다." % age)

나이를 입력하시오. 19

성인이 아닙니다.
당신은 19살 입니다.

In [131]:
age =int(input('나이를 입력하시오.'))

if age >= 60  :
    print("60세 이상입니다.")
    
elif age >= 40 :
    print("40세 이상입니다.")
    
elif age >= 20 : 
    print("20세 이상입니다.\n성인입니다.")
    
else :
    print("성인이 아닙니다.")

나이를 입력하시오. 40

40세 이상입니다.

In [132]:
score = int(input("점수를 입력하세요."))

if score >= 90 :
    print( "A등급 입니다.")
    
elif score >= 80 :
    print( "B등급 입니다.")
    
elif score >= 70 :
    print( "C등급 입니다.")
    
elif score >= 60 :
    print( "D등급 입니다.")
    
else :
    print("F등급 입니다.")

점수를 입력하세요. 87

B등급 입니다.

In [137]:
num = int(input(" "))

if num % 2 == 0 :
    print( "짝수" )
    
else :
    print( "홀수" )

  4

짝수

In [148]:
num = int(input(" "))
x = num % 2 == 0

if x == True :
    print( "짝수" )
    
else :
    print( "홀수" )

  1

홀수

In [189]:
num = float(input(" "))

if num > 0 :
    if num % 2 == 0 :
        print( '짝수' )
    else :
        print( '홀수' )
else :
    print( '음수' )

  10.5

홀수

### 4. 반복문 While / for

In [158]:
a = 1

while a <= 10 :
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [160]:
i = 1

while i <= 4 :
    print( "hellow" + str(i))
    i = i + 1

hellow1
hellow2
hellow3
hellow4

In [166]:
a = 1

while a <= 100 :
    if a % 5 == 0 :
        print( '%d' % a)
    a = a + 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [169]:
print(range(5))

range(0, 5)

In [170]:
print(range(10))

range(0, 10)

In [187]:
for a in range(10) :
    print( a+1 )

1
2
3
4
5
6
7
8
9
10

In [213]:
fruits = [ 'apple', 'banana', 'orange', 'grape', 'tomato' ]
print( fruits )

len( fruits )

print( fruits[1])

print(type(fruits[1]))

for x in fruits :
    print("나는 %s를 좋아합니다." % fruits[1:3])

['apple', 'banana', 'orange', 'grape', 'tomato']
banana
<class 'str'>
나는 ['banana', 'orange']를 좋아합니다.
나는 ['banana', 'orange']를 좋아합니다.
나는 ['banana', 'orange']를 좋아합니다.
나는 ['banana', 'orange']를 좋아합니다.
나는 ['banana', 'orange']를 좋아합니다.

In [221]:
fruits = [ 'apple', 'banana', 'orange', 'grape', 'tomato' ]

for x in fruits[1:3] :
    print("나는 "+ x + "를 좋아합니다.")

나는 banana를 좋아합니다.
나는 orange를 좋아합니다.

In [225]:
fruits = [ 'apple', 'banana', 'orange', 'grape', 'tomato' ]

fruits[0] = 'cherry'

fruits[4] = input( "좋아하는 과일을 입력하시오." )
print(fruits)

좋아하는 과일을 입력하시오. melon

['cherry', 'banana', 'orange', 'grape', 'melon']

In [233]:
num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

print(num)
print(type(num))
print( num[5] )
print( type( num[5] ))
len( num )

for a in num :
    print( a )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
6
<class 'int'>
1
2
3
4
5
6
7
8
9
10

In [7]:
num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
total = 0
#tot = 0

for n in num :
    total = total + n
print(total)

55

In [18]:
num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
total = 0
count = 0
for n in num :
    if n % 2 == 0 :
        total = total + n
        count = count + 1    # if문에 해당하는 변수값의 갯수 셀때 쓰는방식
        
print(total)
print(count)

30
5

In [30]:
a = [1, 2, 3, 1, 2, 3]

a.remove(3)

print(a)

a.remove(3)

print(a)

a.count(1)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

2

In [41]:
num = float(input(' '))

if num > 0 :
    if num % 2 == 0 :
        print('짝수')
    elif num % 2 ==1 :
        print('홀수')
    else :
        print('정수가 아님')

elif num == 0 :
    print(0)

else :
    print('음수')

  -0.5

음수

In [42]:
a = "Life is too short, you need python"

if "wife" in a :
    print("Wife")
    
elif "python" in a and "you" not in a :
    print("python")

elif "shirt" not in a :
    print("shirt")
    
elif "need" in a :
    print("need")

else :
    print("none")

shirt

## Q1

In [1]:
a = 1
total = 0

while a <= 1000 :
    if a % 3 == 0 :
        total = total + a
    a = a + 1

print(total)

166833